a:hover {
    color: #66023C;
    background-color: white;
}

tr:nth-child(even) {
    background-color: #cbd1db;
}

nav{
    border-bottom: 15px solid #66023C;
}

th {
    border-bottom: 5px solid grey;
}

table {
    
    border: 3px black solid;
    
}

#startButton {
    margin: 25px;
}

h4 {
    font-family: Roboto;
    color: #66023C;
}

#Logo {
    font-family: Russo One;
    color: #66023C 
}

.footer-pad {
    
    padding-top: 1em;
    
}

#copyright {
    font-size: .25em;
    margin-top: .25em;
}

.wrapper {
    text-align: center;
}

#powered {
    font-size: .25em;
    margin-top: .25em;
}
